.sign-up__screen {
  height: 100vh;
background: url('../../public/images/sign-up/back.png') 50%/cover no-repeat;
}
.vegerables {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
