

.button-next{
	position: relative;
width: 50px;
height: 50px;
background: -o-linear-gradient(247.2deg, rgba(255, 255, 255, 0.7) 15.09%, rgba(179, 179, 179, 0) 91.2%);
background: linear-gradient(202.8deg, rgba(255, 255, 255, 0.7) 15.09%, rgba(179, 179, 179, 0) 91.2%);border: 1px solid #FFFFFF;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
-webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
border-radius: 50px;
margin-left: 5px;
cursor: pointer;
padding: 10px;
}
.pagination{
	margin: 0 10px;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 9px;
  height: 9px;
	margin: 0 3px;
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-slide img{
	width: auto;
	max-height: 150px;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}
.slide__desription img{
	position: absolute;
	width: auto;
max-height: 50px;
border-radius: 30%;
left: 120px;
top: 120px;
}
.slide__desription {
	padding-left: 10px;
}
.slide_name {
	font-weight: 700;
	font-size: 30px;
	padding: 10px 10px 5px 10px;
}
.slide__town {
		font-weight: 400;
		font-size: 24px;
		padding: 0 10px;
}
.slide__review {
		font-weight: 300;
		font-size: 20px;
		padding: 10px 0 0 0px;
}
.stars{
	font-size: 24px;
	padding: 0 10px 5px;
}
